#past-Officers
{
    margin-top: 40px;
    margin-bottom: 40px;
}
#past-Officers #past-Officers-list
{
    text-align: center;
}
#past-Officers img{
    border-radius: 15px;
}
.glyphicon{
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
.backTo{
    text-align: center;
}
.backTo a{
    color: white;
}